# Global patterns
*.exe
*.swp
*.todelete
.DS_Store
nimcache/

# Full paths.
/LICENSE.html
/README.html
/docindex.html
/docs/CHANGES.html
/docs/release_steps.html
/genieos
/genieos.html
/nakefile
/recycle
/trash-binary/README.html
/trash-binary/trash
