# Global patterns
*.exe
*.swp
*.todelete
.DS_Store
nimcache/

# Full paths.
/LICENSE.html
/README.html
/docindex.html
/docs/CHANGES.html
/docs/release_steps.html
/genieos
/genieos.html
/nakefile
/recycle
/tests/clipboard_osx/clipboard_payload.txt
/trash-binary/README.html
/trash-binary/trash
